.footer {
  color: white;
  font: normal;
  font-weight: bold;
  font-size: 13px;
  transform: translate(-20%, 1000%);
  text-align: center;
  z-index: 999;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 15%;
}
.foospan1 {
  color: white;
  font: normal;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  z-index: 999;
  width: 15%;
  font-family: Georgia, "Times New Roman", Times, serif;
  transform: translate(1150px, 900%);
  margin: 0;
}
